.btn {
  border-width: 1px;
  min-height: 33px;
	text-decoration: none !important;
}
.btn-primary {
  color: #fff;
  background-color:#FD9D16 !important;
/*  background-color: #ffaf00; */
/*  background: #ffaf00 url("images/btn-mobile-bg.gif") repeat; */
  border-color: #e7e5e5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
/*  background-color: #ffaf00; */
  background-color:#FC880F !important;
  border-color: #e7e5e5;
 /* opacity: 0.8; */
}
.btn-lg {
  padding: 7px 8px;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.33;
  border-radius: 4px;
}
.documentation, .support {
  margin-top: 20px;
  margin-bottom: 60px;
}
.documentation p, .support p {
  font-size: 13px;
  line-height: 130%;
  color: #58585a;
  padding: 0 25px;
}
.documentation .row, .support .row {
  margin-bottom: 28px;
  border-collapse: separate;
}
.documentation .btn, .support .btn {
  font-size: 13px;
}
.documentation .categories .btn {
  margin-bottom: 14px;
  margin-top: 14px;
  border-collapse: separate;
}
.input-search {
  border: 1px solid #12a1e3;
  height: 33px;
  padding-left: 20px;
  background: url("images/ico-search.png") no-repeat;
  background-position: 5px 10px;
  background-size: 11px 11px;
  font-size: 13px;
}
.input-category {
  height: 33px;
  border: 1px solid #12a1e3;
  font-size: 13px;
}
.input-platform {
  color: #fff;
  background: #f3b54d url("images/btn-mob-select-bg.gif") repeat;
  border: 1px solid #e7e5e5;
  height: 33px;
  font-size: 11px;
}
.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.documentation h2, .support h2 {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: normal;
  color: #8a8a8c;
  text-align: center;
}
.btn-search {
  background: #ffaf00 url("") repeat;
}

.btn-ash-apple {
 /*   background: #ffaf00 url("images/btn-gray-bg.gif") repeat !important; */
    background-color:#878685 !important;
}

/*
.btn-ash-apple:hover, .btn-ash-apple:focus, .btn-ash-apple:active, .btn-ash-apple.active {
  color: #fff;
  background-color:#333333 !important;
  border-color: #e7e5e5;
}
*/

.btn-ash-apple:hover, .btn-ash-apple:focus {
  color: #fff;
  background-color:#333333 !important;
  border-color: #e7e5e5;
}

   .seach-platform{
     display:none; 
  }
  
  .suport-choose{
    border: 1px solid #e7e5e5;
    color: #fff;
    font-size: 11px;
    height: 33px;  
      
  }
  
      .page-id-120 .content-area {
    padding-top: 0px !important;
    }
    
    
    .page-id-317 .content-area {
    padding-top: 0px !important;
    }


@media (min-width: 768px) {
  .documentation {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .documentation p, .support p {
    font-size: 15px;
    line-height: 130%;
    padding: 0 5px;
  }
  .documentation .btn {
    font-size: 13px;
  }
  .support .btn {
    font-size: 13px;
  }
  .documentation .categories .btn {
    margin-bottom: 14px;
    margin-top: 14px;
    border-collapse: separate;
  }
  .btn-primary {
      background-color:#FD9D16;
   /*  background: #ffaf00 url("images/btn-default-bg.gif") repeat; */
  }
  .btn-search {
    /*  background: #ffaf00 url("") repeat; */
    /* background: #ffaf00 url("images/btn-default-bg.gif") repeat; */
  }
  
  .btn {
    outline: 0 !important;  
  }
  
  .input-search, .input-category {
    border: 1px solid #154e8e;
  }
  .input-platform {
    background: #f8b430;
  }
  .documentation h2, .support h2 {
    font-size: 32px;
    text-align: left;
  }
  
  
}
.v-sep-line {
  border-left: none;
}

@media (min-width: 768px) {
  .v-sep-line {
    border-left: 1px solid #909091;
  }
}
.documentation hr, .support hr {
  border-top: 1px solid #909091;
  margin-bottom: 30px;
  margin-top: 10px;
}

.btm-margin {
  margin-bottom: 25px!important;
}

/* Support page styles */
.support .top-btn-group .btn {
  width: 100%;
  margin: 5px auto;
}

.support .btn-green {
 /* background: #04d353 url("images/btn-green-bg.gif") repeat; */
  background-color:#93cd69 !important;
}

/*
.support .btn-green:hover, .support .btn-green:focus, .support .btn-green:active, .support .btn-green.active {
  color: #fff;
  background-color:#6fb342 !important;
  border-color: #e7e5e5;
}
*/

.support .btn-gree-hover:hover , .support .btn-green:focus, .support .btn-green:active, .support .btn-green.active {
  color: #fff;
  background-color:#6fb342 !important;
  border-color: #e7e5e5;
}

.support .btn-yellow {
  background: #ffe91a url("images/btn-yellow-bg.gif") repeat;
  margin: 0 0 10px 0;
}

.support .tuts-btn-group .btn {
  margin-bottom: 10px;
}

.support .input-platform {
  margin: 10px auto;
}
.support .btn-search {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-120 .entry-header, .post-317 .entry-header {
  /*width: 100%;
   height: 81px;
  background: url("images/header-bg-tbl.png") no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);
  background-size: 320px 81px;
  */
  
      background: url("images/header-bg-tbl.png") no-repeat scroll center top / 100% 100% rgba(0, 0, 0, 0);
    height: 81px;
    width: 100%;
    
}
@media (min-width: 768px) {
  .post-120 .entry-header, .post-317 .entry-header {
    width: 100%;
    height: 87px;
     background: url("images/header-bg-tbl.png") no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);
    /* background-size: 768px 87px; */
  }
}
.post-120 .entry-header .entry-title, .post-317 .entry-header .entry-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  line-height: 87px;
  color: #ffffff;
  text-transform: none!important;
}

/* start Table of content edit By Madura De Silva */
#novM5WiDoc{
    padding:50px;
}
@media (max-width: 768px) {
    #novM5WiDoc {
        padding:0;
    }
    
  .seach-aple-widow{
     display:none; 
  }
  
    .seach-platform{
     display:block; 
  }
  

  
    
}
#toc {
    padding: 10px;
}
#toc ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#toc li {
    padding: 0 5px;
}
#toc a {
    text-decoration: none;
}
#toc .toc-h1 {
    font-size: 1.5em;
    padding-left: 0;
    line-height: 1.567em;
}
#toc .toc-h2 {
    font-size: 1.3em;
    padding-left: 20px;
    line-height: 1.467em;
}
#toc .toc-h3 {
    font-size: 1.15em;
    padding-left: 40px;
    line-height: 1.367em;
}
#toc .toc-h4 {
    padding-left: 60px;
    line-height: 1.267em;
}




/* end Table of content edit By Madura De Silva */

@media (max-width: 940px) {

    .page-id-120 .content-area {
    padding-top: 0px !important;
    }
    
    
    .page-id-317 .content-area {
    padding-top: 0px !important;
    }
    
.col-768-2{
    width: 19.6667%;
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
    
}
.support .top-btn-group .btn {
    margin: 5px auto;
    width: 100%;
    font-size: 0.7em;
}

}

@media (min-width: 481px) and (max-width: 768px) {

.col-768-2{
    width: 48.667%;
    
}

.support .top-btn-group .btn {
    margin: 5px auto;
    width: 100%;
    font-size: 0.8em;
}

}

@media (max-width: 481px) {
    
    .col-768-2{
    width: 100%;
    
}

    .support .top-btn-group .btn {
    margin: 5px auto;
    width: 100%;
    font-size: 0.8em;
}

  .documentation .btn, .support .btn {
  font-size: 8px;
}
    
}



